*{padding:0;margin:0;box-sizing:border-box;text-decoration: none;}
a{color: inherit;}
@font-face {
    font-family: "Belanosima Regular";
    src: url(fonts/Belanosima-Regular.ttf);
}
body{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.main{
    height: 100vh;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
.sec{
    height: 100vh;
    width: auto;
    overflow: hidden;
}
.txt{
    font-family: "Belanosima Regular",sans-serif;
    font-size: 150%;
    line-height: 27px;
    letter-spacing: 1.5;
    color: snow;
    max-width: 30em;
    min-width: auto;

}
.main .sec{position: relative;}
.main .sec .cont{
    position: absolute;
    top: 95px;
    left: 5%;
    right: 10px;
}
.footer{position: relative;}
.block{
    position: absolute;
    height: auto;
    width: 100%;
    background-color: #591c02;
    padding: 20px;
    text-align: center;
}
#ftxt{
    font-family: "Belanosima Regular",sans-serif;
    font-size: 150%;
    line-height: 30px;
    color: snow;
}
.profiles{
    margin: 15px;
    display: flex;
    justify-content: center;
    gap:20px;
}
.h1{font-size: 200%;line-height: 42px;}
.h2{font-size: 170%;}